.login_container {
  margin: 0 auto;
  height: 100%;
}

.heading {
  letter-spacing: 0.03em;
  margin-bottom: 2rem;
  text-align: center;
}

.form {
  width: 320px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.input {
  border: none;
  border-radius: 20px;
  font-size: 16px;
  line-height: 1.5;
  padding: 0.5rem 1rem;
}

.submitBtn {
  background-color: var(--color-white);
  border: none;
  border-radius: 20px;
  font-size: 16px;
  line-height: 1.5;
  margin: 2rem auto 0;
  padding: 0.5rem;
  width: 50%;
}
